.home-container {
  display: flex;
  justify-content: center;

  .card-container {
    width: 800px;
    display: flex;
    flex-flow: row wrap;

    .homepage-card {
      height: 320px;
      width: 200px;
      overflow: hidden;
    
      h1, h5 {
        margin: 15px;
      }
      
      h5 {
        line-height: 1.5em;
      }

      .first-image {
        background-image: url('https://cdn.closed.com/generated/product/4/2048_3072_85/C85206-40S-26-218.jpg'), linear-gradient(rgba(0,0,0,0.15),rgba(0,0,0,0.15));
      }

      .second-image {
        
        background-color: #587573
      }

      .third-image {
        background-color: rgb(250, 240, 242)
      }

      .fourth-image {
        background-image: url('https://project3profileimages.s3.us-east-2.amazonaws.com/chris-lee-70l1tDAI6rM-unsplash+(1).jpg'), linear-gradient(rgba(0,0,0,0.15),rgba(0,0,0,0.15));
      }

      .background-image {
        background-blend-mode: overlay;
        background-size: cover;
        width: 100%;
        height: 100%;
        transition: all .2s;
      }

      .card-content {
        width: 120px;
        padding-left: 10px;
      }

      .card-content-last {
        width: 150px;
      }
    }

    .homepage-card:hover .background-image {
      transform: scale(1.1)
    }
    

    .homepage-card:nth-child(1) {
      background-color: #c9d5c9;
    }

    .homepage-card:nth-last-child(3) {
      background-color: #c6bc99;
    }

    .homepage-card:nth-last-child(6) {
      background-color: #efefef;
    }

    .homepage-card:nth-child(8) {
      background-color: #e6dcc3;
    }

  }

}

@media screen and (max-width: 799px) {
  .home-container {
    .card-container {
      width: 100%;

      .homepage-card {
        width: 25%;

      }
    }
  }
}

@media screen and (max-width: 599px){
  .home-container {
    .card-container {
      width: 100%;

      .homepage-card {
        width: 50%;

        h1 {
          margin-top: 50px;
        }
      }
    }
  }
}