@import url(//db.onlinewebfonts.com/c/1725aaa429e4045ba648a1aa73481440?family=FolioW01-Light);

body {
  padding: 0;
  margin: 0;
  font-family: "FolioW01-Light"
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0
}

p {
  font-size: 12px;
}