.wishlist-button {
  border: 1px solid rgb(44, 44, 44);;
  outline: none;
}

.wishlist-button:hover {
  background-color: rgb(44, 44, 44);;
  color: white;
}

.wishlist-button:active {
  background-color: rgb(168, 181, 172);
  color: rgb(44, 44, 44);
}

.auth-button {
  outline: none;
  font-size: 13px;
  padding: 10px 14px;
  width: 200px;
  margin: 10px;
  background-color: #efefef;
  border: 1px solid rgb(44, 44, 44);;
}

.auth-button:hover {
  cursor: pointer;
  color: white;
  background-color: rgb(44, 44, 44);
}

.signup-auth {
  .signup-link {
    text-decoration: none;
    color: rgb(44, 44, 44);;
    }
}

.signup-auth:hover {
  .signup-link {
    color: white;
  }
}

#facial-login-capture {
  color: white;
  background-color: rgb(44, 44, 44);;
}

#facial-login-capture:hover {
  background-color: #efefef;
  color: rgb(44, 44, 44);
}

.login-button {
  color: white;
  background-color: rgb(44, 44, 44);;
  margin: 60px;
}

.login-button:hover {
  color: rgb(44, 44, 44);;
  background-color: #efefef;
}