.input-file {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

.input-file, label {
  cursor: pointer;
}

.file-choice {
	margin: 100px;
	padding: 10px 60px;
	position: relative;
	top: 30px;
}
