.presentation-container {
  background-color: #dfdfdf;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  
  h1 {
    line-height: 1.4em;
  }

  .underline {
    text-decoration: underline;
  }
}